<h1>App Core</h1>

<a routerLinkActive="active" routerLink="/">Home</a> &nbsp;
<a routerLinkActive="active" routerLink="core">Core</a> &nbsp;
<a routerLinkActive="active" routerLink="app1">App 1</a> &nbsp;
<a routerLinkActive="active" routerLink="app2">App 2</a> &nbsp;
<a routerLinkActive="active" routerLink="app3">App 3</a> &nbsp;


<router-outlet></router-outlet>

<p>Nota: <br>
  <small>
    Hay un problema con la ruta '/' esta llendo directamente a APP 1 en lugar de llevarnos a /core como está configurado
    en el app-routing.module.ts
  </small>
</p>
